<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Ccube 2017</h2>
                <hr class="light">
        <p class="text-faded">
RNSIT is hosting “Second International conference on Circuits, controls and communications” on December 15-16, 2017 with Technical co-sponsorship from IEEE Bangalore section, IEEE CAS society Bangalore chapter, IEEE CIS society Bangalore chapter, IEEE COMSOC society Bangalore chapter.
        </p>
                <p class="text-faded">
CCUBE 2017 is a prestigious event organized with a motivation to provide an excellent international platform for the participants from academia and industry to discuss the cutting edge innovations, dealing with state-of-art research and future developments in the field of circuits, control and communication. CCUBE 2017 will cover Keynote address, Plenary sessions, Panel discussions, Paper presentations and Expert lectures. This conference is jointly organized by the departments of ECE, EIE and EEE. The researches around the world are kindly invited to submit papers for CCUBE 2017. The accepted and presented papers will be submitted for inclusion into IEEE Xplore". <h3><font color="black"> Conference ID is 41751. IEEE Xplore Catalog no is CFP17CCU-ART.  ISBN no is 978-1-5386-0615-5. </font> </h3> 
 <h3><font color="black">IEEE Xplore digital library contents are SCOPUS indexed.</font> </h3>
</p>
<br>


<br>

                <a href="About_Us" class="btn btn-default btn-xl">Check out more About Us</a>
<p></p>
 <a href="About_c313" class="btn btn-default btn-xl">About Ccube 2013</a>
<p></p>
 <a href="committee" class="btn btn-default btn-xl">Committee</a>
            </div>
        </div>
    </div>
<br>
<br>
<br>
<br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87665160-2', 'auto');
  ga('send', 'pageview');

</script>
</section>
