<section class="bg-primary" id="callforpapers">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Ccube 2017</h2>
                <hr class="light">
                <p class="text-faded">
CCUBE 2017 is a prestigious event organized with a motivation to provide an excellent international platform for the participants from academia and industry to discuss the cutting edge innovations, dealing with state-of-art research and future developments in the field of circuits, control and communication. This event will be held during December 15- 16, 2017. CCUBE 2017 will cover Keynote address, Plenary sessions, Panel discussions, Paper presentations and Expert lectures. This conference is jointly organized by the departments of ECE, EIE and EEE. The researches around the world are kindly invited to submit papers for CCUBE 2017. The accepted and presented papers will be published in IEEE Xplore. Conference ID.</p>

                <a href="About_Us" class="btn btn-default btn-xl">Check out more About Us</a>
 <a href="About_c313" class="btn btn-default btn-xl">About Ccube 2013</a>
            </div>
        </div>
    </div>
</section>
