<meta name="viewport" content="width=device-width, initial-scale=1">
<section id="dates"> 
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dates</h2>
                <hr class="primary">
                <br><br>

                <h2 class="section-heading"> June 15 ,2017</h2>
                <p class="text-faded" > First Call For Papers</p>
<br><br>
                <h2 class="section-heading"> Oct 15 ,2017</h2>
                <p class="text-faded" >Notification of acceptance</p>
<br><br>
                <h2 class="section-heading"> Nov 1 ,2017</h2>
                <p class="text-faded" >Camera ready paper submission</p>
                
      </div>
</section>
