<meta name="viewport" content="width=device-width, initial-scale=1">
<section id="dates"> 
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dates</h2>
                <hr class="primary">
                <br><br>

                <p style="font-size:17px;"> <b>June 15 ,2017 :</b>First Call For Papers</p>
<br><br>
                <p style="font-size:17px;"> <b>Oct 15 ,2017  :</b>Notification of acceptance</p>
<br><br>
                <p style="font-size:17px;"> <b>Nov 1 ,2017   :</b>Camera ready paper submission</p>
                
      </div>
</section>
