<meta name="viewport" content="width=device-width, initial-scale=1">
<section id="dates"> 
              <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Dates</h2>
                <hr class="primary">
                <br>

                <h3 class="section-heading"> June 15 ,2017</h3>
                <h4 class="section-heading"> First Call For Papers</h4>
                <h3 class="section-heading"> Oct 15 ,2017</h3>
                <h4 class="section-heading"> Notification of acceptance</h4>
                <h3 class="section-heading"> Nov 1 ,2017</h3>
                <h4 class="section-heading"> Camera ready paper submission</h4>
                
      </div>
</section>
