<section class="no-padding" id="gallery">
     <link href="css/ninja-slider.css" rel="stylesheet" type="text/css" />
     <script src="js/ninja-slider.js" type="text/javascript"></script>
    <div id='ninja-slider'>
        <div class="slider-inner">
            <ul>
                <li><a class="ns-img" href="img/portfolio/1.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/2.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/3.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/4.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/5.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/6.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/7.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/8.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/9.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/10.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/11.jpg"></a></li>
                <li><a class="ns-img" href="img/portfolio/12.jpg"></a></li>
            </ul>
            <div class="fs-icon"></div>
        </div>
    </div>
</section>
