<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="../img/client-1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Dilip Krishnaswamy
                            </div>
                            <div class="project-name">
                                Ph. D. (Electrical Engineering), University of Illinois at Urbana-Champaign, 1997.<br>
Executive Leadership Certificate, Cornell University, 2016.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <b><img src="../img/quote_sign_left.png" alt=""></b> Dr. D.K. is currently working as a Senior Scientist at IBM Research in Bangalore. He received the PhD degree in electrical engineering from the University of Illinois at Urbana-Champaign. He has worked as a Platform Architect at Intel, and as a Senior Staff Researcher in the Office of the Chief Scientist at Qualcomm, and has taught at the University of California, Davis. He served as the Associate Editor-in-Chief of IEEE Wireless Communications from 2009-2014. He serves as a co-chair for the IoT PIC (Professional Interest Community) at IBM Research. He chairs the committee for the annual Pat Goldberg IBM Research CS/EE/Math best paper competition (since 2015). He in an inventor on 55 granted US patents, and has published 60+ papers with 3 best paper awards. He is a BTech (electronics and communications engineering) alum of IIT Madras.
  <small><img src="../img/quote_sign_right.png" alt=""></small>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Project Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
