<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrapSpk.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/styleSpk.css" rel="stylesheet">

</head>

<body>
  <
<!--==========================
  Testimonials Section
============================--> 
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Plenary Speakers Profiles </h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../img/client-1.jpg" alt=""></div>
            <h4>Dilip Krishnaswamy</h4>
            <span>Ph. D. (Electrical Engineering), University of Illinois at Urbana-Champaign, 1997.<br>
Executive Leadership Certificate, Cornell University, 2016.</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../img/quote_sign_left.png" alt=""></b> Dr. D.K. is currently working as a Senior Scientist at IBM Research in Bangalore. He received the PhD degree in electrical engineering from the University of Illinois at Urbana-Champaign. He has worked as a Platform Architect at Intel, and as a Senior Staff Researcher in the Office of the Chief Scientist at Qualcomm, and has taught at the University of California, Davis. He served as the Associate Editor-in-Chief of IEEE Wireless Communications from 2009-2014. He serves as a co-chair for the IoT PIC (Professional Interest Community) at IBM Research. He chairs the committee for the annual Pat Goldberg IBM Research CS/EE/Math best paper competition (since 2015). He in an inventor on 55 granted US patents, and has published 60+ papers with 3 best paper awards. He is a BTech (electronics and communications engineering) alum of IIT Madras.
  <small><img src="../img/quote_sign_right.png" alt=""></small>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../img/quote_sign_left.png" alt=""></b> Jayavardhana Gubbi received the Bachelor of Engineering degree from Bangalore University in 2000, Ph.D. degree from the University of Melbourne, Australia, in 2007. For three years, he was a Research Assistant at the Indian Institute of Science (IISc), Bengaluru, where he was engaged in speech technology for Indian languages. Between 2007 and 2015, he worked as Postdoctoral Research Fellow, an Australian Postdoctoral Fellow - Industry (APDI) and Senior Research Fellow working on several industry linkage grants in biomedical signal processing, video processing and Internet of Things. He has co-authored more than 65 peer reviewed papers and filed 5 patents. He is currently a senior scientist in TCS Innovation Labs - Bengaluru. <small><img src="../img/quote_sign_right.png" alt=""></small>
          </div>
        </div>

        <div class="col-md-3" >
          <div class="profile" >
            <div class="pic"><img src="../img/client-2.jpg" alt="" ></div>
            <h4>Jayavardhana Gubbi </h4>
            <span>Senior scientist in TCS Innovation Labs<br>
PhD University of Melbourne, Australia</span>
          </div>
        </div>


      </div>
      



  <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../img/client-3.jpg" alt=""></div>
            <h4>Raghavendra Rao R</h4>
            <span>Hardware Architect, Intel Technology India Pvt Ltd, Bangalore</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
<ul>

<li>Three approved and four pending patent applications with USPTO at Intel Technology India Pvt. Ltd. </li><li>
Received Division level recognition for Innovation of Far-field audio technology along and for the execution of the Smart speaker customer project launched with two different voice vendors in China and US. The product bagged the best innovative product award in CES 2017. </li><li>
Authorized for defensive publication of disclosure, Alternative Powering Methodology for ECG signal Acquisition in MRI Systems, at GE Medical Systems, Bangalore. Recognized disclosures on Dynamic Link width negotiation at Dell R&D Centre and Error Detection correction and Containment Methodologies for MRI systems at GE Medical Systems</li><li>
 Conducted a site wide tutorial on how usability affects product development and the tools for usability driven system design at Intel India Technology Pvt. Ltd.</li><li> 
White papers on Telecom Clock Architecture in ATCA System, CompactPCI System Analysis, Dynamic link width negotiation of Serial interfaces with specific experimentation on PCI-Express, Error detection, Correction and Containment methodology implementation in MRI Systems </li>

<ul>
          </div>
        </div>
      </div>
      








    </div>
  </section>

 
  <!-- Required JavaScript Libraries -->
  <script src="../lib/jquery/jquerySpk.min.js"></script>
  
  <!-- Template Specisifc Custom Javascript File -->
  <script src="../js/customSpk.js"></script>
  
</body>
</html>
