<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<style>
a {
    color:blue;
}

ex1 {
    font: 15px arial, sans-serif;
}
</style>
<body id="page-top">
  {% include nav.html %}
  
  <section class="bg-primary" id="about" >
   
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
         <h2 class="section-heading">Report on CCUBE - 2013</h2>
                <hr class="light"> 
              <br><br><br>
<p class="text-faded"  style="text-align: Left">
International conference on Circuits, Control and Communication CCUBE-2013 was held during December 27-28, 2013 at RNSIT conference hall with state of art infrastructure. It was jointly organized by the departments of EC, IT & EEE. The whole conference was successfully managed with a comprehensive online process for paper submissions, review process, conference registration, accommodation and other services through our official website www.CCUBE2013.com
 </p>

<p class="text-faded"  style="text-align: Left">
Our publication is included in the IEEE Conference Publications Program (CPP) Conference Record # 31795, IEEE Catalogue Number <span id="ex1">CFP13CCU-ART,ISBN - 978-1-4799-1601-6</span>
All published papers are available in <a href="http://ieeexplore.ieee.org/search/searchresult.jsp?newsearch=true&queryText=ccube%202013" target="_blank">IEEE explore</a> .We solicited solid research work from a broad range of the conference theme areas that has resulted in a total of over 146 innovative submissions from research scholars’ and students from IITs, NITs, IIITs, Industries and reputed Institutions from most of the states in India and abroad.
 </p>

<p class="text-faded"  style="text-align: Left">
Over 80 technical experts from academic and industry had participated in paper blind review process. Based on review results, the technical program committee could accept only 41 papers for presentation in the main track and 13 presentations in the student track.
All accepted papers were presented. (No-show policy was implemented in the conference). Two best paper awards each in the main track and student track were instituted (by Dr. H N Shivashankar, Director, RNSIT).
</p>

<p class="text-faded"  style="text-align: Left"> 
Note: IEEE publishes more than 1,200 leading-edge conference proceedings every year, which are recognized by academia and industry worldwide as the most vital collection of consolidated published papers in electrical engineering, computer science, and related fields.
Obtaining the LOA from IEEE & publishing in IEEE Xplore is quite an achievement.
</p>

<p class="text-faded"  style="text-align: Left"> 
The Chief Guest of the inaugural function was Dr. S S Murthy, Vice Chancellor, Central University, Karnataka.
 
</p>

<p class="text-faded"  style="text-align: Left">
The Guest of Honour was Dr. K N Shankara , ( Padma Shri ) Former Director, ISAC, ISRO, Bangalore  and chief patron of the conference was Dr. R N Shetty . The function was presided by Dr. H N Shivashankar, Director, RNSIT.
</p>
<p class="text-faded"  style="text-align: Left"> 
CCUBE-2013 consisted of 8 technical Paper presentation sessions, a Keynote address, 7 Plenary talks and 1 Panel discussion.
</p>
<p class="text-faded"  style="text-align: Left"> 
The following Plenary Talks were held during the two days of the conference
</p>
<br>

<ul  style="text-align: Left">
<li>“Advanced Silicon Technologies Enable Intelligent Silicon to Address Data Deluge Gap” by Mr. Santhanakrishnan Raman, Managing Director, LSI Research and Development Pvt. Ltd.</li>
<li>Mr. T G Nayan, Deputy General Manager, Yokogawa on the Topic: Control and Automation.</li>

<li>“System Integration complexity in Internet of Things” by Mr. C Subramanian,Engineering Manager, Intel, India & Mr. Balachandar Santhanam, Platform,Architect, Intel, India.</li>

<li>“Multisensor Data Fusion“ by Dr. Jitendra R Raol, Worked as Scientist and Head of Flight Mechanics and Control Division of CSIR, NAL, Bangalore.</li>
 
<li>“Upper Audio Band Communications: Concepts, Design and Applications” by Dr.
            Rahul Sinha, Scientist, TCS Innovations Lab, Bangalore Topic.</li>
<li>“Power Optimization in VLSI Design – The Need and Techniques” by Mr. Vipul
             Singhal, Sn. Technologist, Texas Instruments, India.</li>
</ul>
 <br>

<p class="text-faded"  style="text-align: Left">
Parallel sessions were chaired by Dr. P A Vijaya from BNMIT,   Dr. T Srinivas from IISc, Dr. Ravishankar Dixit from BMSCE and Dr. T G Basavaraju from SKSJ Technological Institute, Dr. B K Keshavan from PESIT, Dr. G T Raju, from RNSIT, Dr.M Meenakshi from Dr. AIT, Dr. S B Bhanuprashanth from BNMIT and Mr. G S Pradeep, Senior Manager, LSI, India, Pvt. Ltd.
 </p>

<p class="text-faded"  style="text-align: Left">
The conference concluded with valedictory function on day 2. Dr. P V Ananda Mohan, Chapter Chair, IEEE Circuits and Systems, Bangalore was the Chief Guest.
</p>
              <a href="index" class="btn btn-default btn-xl">Home</a>
              <a href="About_Us" class="btn btn-default btn-xl">About Us</a>
              <a href="committee" class="btn btn-default btn-xl">Committee</a>
<br><br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<section  id="gallery" style="background-color:rgb(30,30,30);">

<style>
* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.0s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
</style>


<div class="slideshow-container">

<div class="mySlides fade"><img src="img/portfolio/1.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/2.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/3.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/4.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/5.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/6.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/7.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/8.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/9.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/10.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/11.jpg" style="width:100%"></div>
<div class="mySlides fade"><img src="img/portfolio/12.jpg" style="width:100%"></div>


</div>
<br>

<div style="text-align:center">
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
  <span class="dot"></span> 
</div>

<script>
var slideIndex = 0;
showSlides();

function showSlides() {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    for (i = 0; i < slides.length; i++) {
       slides[i].style.display = "none";  
    }
    slideIndex++;
    if (slideIndex> slides.length) {slideIndex = 1}    
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";  
    dots[slideIndex-1].className += " active";
    setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>




</section>



            </div>
        </div>
    </div>
</section>
</body>

</html>
