<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  
  <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Call for papers</h2>
                <hr class="light">
                <p class="text-faded"> Circuits :

IOT: Sensors, MEMS, Nano,  Devices and Circuits
IOT Applications: Smart grid, Process instrumentation, e-health, Disaster management, Protocols and standards, Mobile and wearable devices, Innovative vehicular applications.
VLSI: Design, Fabrication, Testing, CAD, Embedded systems and SOC
Power Electronics, Smart Power electronics drives and applications, Renewable energy sources

Controls :

Automation, Adaptive and Robust control system
Power systems and FACTS
Advanced machines and controls
Instrumentation, Robotics and Virtual reality

Communications :

Communication network, Mobile communication, MANET, VANET, Wireless sensors network, Web services, Security, e-transaction
Optical, Satellite, RF and Microwave communication
Signal processing : Image, Audio, Video, Biomedical signal processing
Pattern recognition, Machine learning, Deep learning</p>
                <a href="call" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>
