<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  
  <section class="bg-primary" id="about">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
         <h2 class="section-heading">Call for papers</h2>
                <hr class="light"> 
              <br><br><br>
              <h3 style="text-align: Left">Circuits :</h3>
<ol style="text-align: Left">
<li>IOT: Sensors, MEMS, Nano,  Devices and Circuits </li>
<li>IOT Applications: Smart grid, Process instrumentation, e-health, Disaster management, Protocols and standards, Mobile and wearable devices, Innovative vehicular applications. </li>
<li>VLSI: Design, Fabrication, Testing, CAD, Embedded systems and SOC </li>
<li>Power Electronics, Smart Power electronics drives and applications, Renewable energy sources </li>
</ol> 
           
           
              <br><br><br>
<h3 style="text-align: Left">Controls :</h3>
<ol style="text-align: Left">
<li>Automation, Adaptive and Robust control system</li>
<li>Power systems and FACTS</li>
<li>Advanced machines and controls</li>
<li>Instrumentation, Robotics and Virtual reality</li>
</ol>
              
              <br><br><br>
<h3 style="text-align: Left">Communications :</h3>
<ol style="text-align: Left">
<li>Communication network, Mobile communication, MANET, VANET, Wireless sensors network, Web services, Security, e-transaction</li>
<li>Optical, Satellite, RF and Microwave communication</li>
<li>Signal processing : Image, Audio, Video, Biomedical signal processing</li>
<li>Pattern recognition, Machine learning, Deep learning</li>
  </ol>
  
             
                <a href="call" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>
