<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  
  <section class="bg-primary" id="about">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
         <h2 class="section-heading">Committee Members</h2>
                <hr class="light"> 

              <br><br><br>
<h3>Chief Patrons</h3><br>

<ul class="text-faded" style="list-style-type:none ; text-align: Left">
  <li>Dr. R N Shetty           Chairman-GC,RNSIT</li>
</ul>  
<br>

<h3>Patrons</h3><br>

<ul class="text-faded" style="list-style-type:none ; text-align: Left">

<li>Mr. Satish R Shetty        Member-GC,RNSIT</li>
<li>Mr. Sunil R Shetty         Member-GC,RNSIT</li>
<li>Mr. Naveen R Shetty        Member-GC, RNSIT</li>
<li>Dr.  N R Shetty            Member-GC, RNSIT</li>
<li>Dr.  H N Shivashankar      Director, RNSIT</li>
</ul>  
<br>

<h3>General Chair </h3><br>

<ul class="text-faded" style="list-style-type:none ; text-align: Left">
<li>Dr. M K Venkatesha         Principal, RNSIT</li>
</ul>  
<br>


<h3>Program Chairs</h3><br>


<ul class="text-faded" style="list-style-type:none ; text-align: Left">

<li>Dr. Vipula Singh           Head, ECE  Dept., RNSIT</li>

<li>Dr. Andhe Pallavi          Head, EIE Dept., RNSIT</li>

<li>Dr. S Sumathi              Head, EEE  Dept., RNSIT</li>
</ul>  
<br>


<h3>Advisory Committee Members</h3><br>


<ul class="text-faded" style="list-style-type:none ; text-align: Left">

<li>Dr. Karisiddappa              Vice-Chancellor, VTU, Belgaum</li>

<li>Dr. K N Shankara(Padma Sri)   Former Director SAC(ISRO), Senior scientist (ISAC)</li>

<li>Dr. Nalini Venkatasubramanian University of California, Irvine, USA</li>

<li>Dr. Chetan Shankar            SSDE, AZURE, Microsoft, USA</li>

<li>Dr. Raj Acharya               Penn State University, USA</li>

<li>Prof. S S Iyengar             Louisiana State University, USA</li>

<li>Dr. Uday Kumar                Principal, Akshaya Institute of Tech, Bengaluru</li>

<li>Dr. K Rajnikanth              Former Principal, MSRIT, Bengaluru</li>

<li>Dr. S S Manvi                 Principal, Reva Institute of Tech, Bengaluru</li>

<li>Prof. K A Ranganatha Setty    Dean NMIT, Bengaluru</li>
</ul>  
<br>

 

<h3>Technical Program Committee members</h3><br>


<ul class="text-faded" style="list-style-type:none ; text-align: Left">

<li>Ms. Divya M G                 C-DAC, Principal Technical Officer, Bengaluru</li>

<li>Prof. T Srinivas              IISc Chapter chair, IEEE Photonics Society Bengaluru Chapter</li>

<li>Dr. P V Ananda Mohan          IEEE CAS Chapter Chair Bengaluru</li>

<li>Dr. C P Ravikumar             IEEE CAS Chapter Bengaluru</li>

<li>Prof Anandhi Giridharan       IEEE CIS Chapter Chair Bengaluru</li>

<li>Mr. Umakanth V S              C-DOT, Bengaluru</li>

<li>Prof. Muralidhar Kulkarni     NITK Surathkal</li>

<li>Prof. D H Rao                 CMR University, Bengaluru</li>

<li>Prof. P Nagabhushan           Chief Nodal Office,CBCS,University of Mysore</li> 

<li>Dr. P A Vijaya                BNMIT, Bengaluru</li>

<li>Dr. S V Sharma                Dy Director, ISRO</li>

<li>Dr. N Srinivasan              Director, Sapthagiri College of Engineering, Bengaluru</li>               

<li>Dr. Ravi Prakash              Prof., MCE, Hassan</li>
</ul>  
<br>







<a href="index" class="btn btn-default btn-xl">Home</a>
            </div>
        </div>
    </div>
</section>
</body>

</html>
