<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav2.html %}
  
  <section class="bg-primary" id="about">
   
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
         <h2 class="section-heading">Registration</h2>
                <hr class="light"> 

              <br>











<style>
table {
    border-collapse: collapse;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 8px;


}

}
</style>



<h3>Author and Attendee Registration Fee </h3><br>


<div style="overflow-x:auto;">
  <table>
    <tr>
      <th rowspan="2">Delegates</th>
      <th colspan="2">Professionals</th>
      <th colspan="2">Students</th>
    </tr>
    <tr>
      <td>IEEE Members</td>
      <td>Non-Members</td>
      <td>IEEE Members</td>
      <td>Non-Members</td>
    </tr>
    <tr>
      <th>Indian Delegates</th>
      <td>₹ 7000</td>
      <td>₹ 8000</td>
      <td>₹ 4000</td>
      <td>₹ 5000</td>
    </tr>
    <tr>
      <th>Foreign Delegates</th>
      <td>$ 200</td>
      <td>$ 250</td>
      <td>$ 100</td>
      <td>$ 150</td>
    </tr>
  </table>
</div>
<br>
<br>
<p>One of the authors has to register for the accepted paper(s) and poster(s) to be sent for publication in IEEE Xplore and presentation in conference on or before last date.<b> <font color="black" >Full time  </font></b> B.Tech., M.Tech. and PhD students/candidates fall under student category. </p>
<p></p>

<p>
Co-Authors interested in attending the conference / getting the participation certificate must register for the conference by paying 50% of the registration amount of their respective category. 
</p>

<div align="right">
<ul>
<li> For multiple papers by the same author – </li>
    <ul>

            <li>1st paper - Full registration fee</li>
            <li>2nd paper - 70% of the registration fee</li>
            <li>3rd and subsequent papers – 50% of registration fee</li>
    </ul>

</ul>
</div>

<p>The registration fee may be paid through DD/ RTGS </p>
<ul>
<li>The DD should be drawn in favour of  
<b> <font color="black" >“Organising Secretary C cube 2017” </font></b> payable at Bangalore</li>
<li>Making payment through RTGS, the details are as follows </li>
</ul>
<div style="overflow-x:auto;">
  <table>
    <tr>
      <th>Name of the bank </th>
      <td>Canara Bank </td>
    </tr>
    <tr>
      <th>Address </th>
      <td>RNSIT Campus, Channasandra Dr. Vishnuvardhan Road Bangalore 560098
</td>
    </tr>


    <tr>
      <th>Bank account Name</th>
      <td>Organising Secretary C cube 2017</td>
    </tr>

    <tr>
      <th>Bank Account No </th>
      <td>8574101056512</td>
    </tr>

    <tr>
      <th>IFSC Code </th>
      <td>CNRB0008574</td>
    </tr>


  </table>
</div>

<p><strong> <a target="_blank" href="https://goo.gl/forms/IKb2DIToJgHc5IpB2">Registration form</a> (please fill after it after fee payment) </strong></p>
<a href="index" class="btn btn-default btn-xl">Registration form</a> 
<br>
              <a href="index" class="btn btn-default btn-xl">Home</a> <p></p>

<a href="download" class="btn btn-default btn-xl">Downloads</a><p></p>
              <a href="About_c313" class="btn btn-default btn-xl">About Ccube 2013</a> <p></p>
              <a href="About_Us" class="btn btn-default btn-xl">About Us</a>
            </div>
        </div>
    </div>
</section>



  {% include contact.html %}
<img src="img/Footer.jpg" style="width:100%"> 


</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87665160-2', 'auto');
  ga('send', 'pageview');

</script>

</html>
